  <div class="position-absolute">
    

    <%= form_tag(post_path(@post), method: :get) do %>
      <%= select_tag(:filter, options_for_select([['Published', 'published'], ['Unpublished', 'unpublished']], 
      params[:filter])) %>
      <%= submit_tag('Filter') %>
    <% end %>
    <ul class="list-group" style="width: 450px;">
    <div class="card">
    <% @comments.each do |comment| %>
      <div class="card-header text-white bg-secondary mb-1">
          Автор: <%= comment.author.first_name %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= comment.body %></p>
        </div>
        
          <%= form_with(url: publish_comment_post_path(@post, comment), method: :patch) do %>
    <%= submit_tag "Publish" %>
  <% end %>
       
        <% end %>
      </div>
    </ul>
  </div>


    
