<%= form_with model: [ @post, @post.comments.build ] do |f| %>
  <%= f.label :author_id %>
  <%= f.collection_select :author_id, Author.all, :id, :first_name %>
    <div class="container-fluid py-5">
      <div class="input-group">
        <span class="input-group-text">Напишіть свій коментар</span>
          <%= f.text_area :body, class: 'form-control' %>
          <%= f.submit "Опублікувати", class: 'btn btn-secondary' %>
        </div>
        
      </div>
<% end %>