

 <%= render 'shared/errors', object: @author %>
 
  <%= form_for @author, data: {turbo: false }   do |f| %>

    
        <div class="page__personal">
      <h5>Імʼя:</h5>
      <%= f.text_field :first_name, class:'form-control'%>

      <h5>Фамилія:</h5>
       <%= f.text_field :last_name, class:'form-control'%>

      <h5>E-mail:</h5>
        <div class="input-group has-validation">
          <span class="input-group-text">E-mail @</span>
            <%= f.text_field :email, class:'form-control'%>
        </div>

      <h5>Пароль:</h5>
        <%= f.password_field :password, class:'form-control' %>
      
      <h5>Підтвердіть пароль:</h5>
        <%= f.password_field :password_confirmation, class:'form-control' %>
    </div>
    
    <div class="actions"><%= f.submit "Sign Up" %></div>
  <% end %>
