<div class='container-lg'>
    <div class="page">
        <div class="page__avatar">
          <img 
            src="" 
            alt="avatar"
            class="page__avatar-image"
          >
          
      
          <div class="page__avatar-button">
            <button type="button" class="page__button">Rename</button>
            <button type="button" class="page__button">Destroy</button>
          </div>
        </div>
        
        <div class="page__personal">
        <%= turbo_frame_tag 'first_turbo' do %>
          <h5>Імʼя:</h5>
          <%= @author.first_name%>

          <h5>Фамилія:</h5>
          <%= @author.last_name%>

          <h5>E-mail:</h5>
          <%= @author.email%>

          <h5>Дата народження:</h5>
          <%= @author.birthday%>


           <%= link_to "New quote", edit_author_path, class: "btn btn--primary" %>
           <% end %>
        </div>
        
        

        <div class="page__comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati perspiciatis tempora natus commodi voluptas! Autem, esse, rem veritatis corporis reprehenderit beatae cum minus laboriosam consectetur dolorem facere officia pariatur explicabo! Nam voluptate sapiente voluptatum aut mollitia cum cumque quis perspiciatis fugiat quisquam molestias, quo, consequuntur velit nobis saepe veniam explicabo? lorem10000
        </div>
        
</div>
      
