<div class="container-lg">
 <h1>All posts</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4 shadow-sm ">
    <% @posts.each do |post| %>

      <div class="col">
        <div class="card">
          <img src='<%= post.image %>' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= post.name %></h5>
                <p class="card-text"><%= post.title %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'Переглянути', post, class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-body-secondary"><%= post.author.first_name %></small>
                </div>
            </div>
          </div>
        </div>
    <% end %>
</div>
